<ul class="category-list">
	<li><a href="#overview">Overview</a></li>
	<li><a href="#object-model">Object Model</a></li>
	<li><a href="#security">Security</a></li>
	<li><a href="#getting-started">Getting Started</a></li>
	<li><a href="{{site.url}}/api/swagger" target="_blank">REST Reference</a></li>
	<li><a href="{{site.url}}/api/ws.html" target="_blank">Websocket Reference</a></li>
	<li><a href="{{site.url}}/api/udp.html" target="_blank">UDP Reference</a></li>
	<li><a href="#ble-reference">BLE Reference</a></li>
	<li><a href="{{site.url}}/api/derived-metric-formulas.html">Derived Metrics</a></li>
	<li><a href="{{site.url}}/releases/">Release Notes</a></li>
	<li><a href="{{site.url}}/api/remote-developer-policy.html">Remote Data Access Policy</a></li>
</ul>
