<ul class="category-list">
	<li><a href="{{site.url}}/">Overview</a></li>
	<li><a href="{{site.url}}/api/">Getting Started</a></li>
	<li><a href="{{site.url}}/api/oauth.html">OAuth 2.0 Support</a></li>
	<li><a href="{{site.url}}/api/swagger" target="_blank">REST Reference</a></li>
	<li><a href="{{site.url}}/api/ws.html" target="_blank">Web Sockets Reference</a></li>
	<li><a href="{{site.url}}/api/udp.html" target="_blank">Local Reference (UDP)</a></li>
	<li><a href="{{site.url}}/api/derived-metric-formulas.html">Derived Metrics</a></li>
	<li><a href="{{site.url}}/releases/">Release Notes</a></li>
	<li><a href="{{site.url}}/api/remote-developer-policy.html">Remote Data Access Policy</a></li>
</ul>
