{% if include.v >= 72 %}
	{
	  "serial_number": "AR-00004049",
	  "type": "device_status",
	  "hub_sn": "HB-00000001",
	  "timestamp": 1510855923,
	  "uptime": 2189,
	  "voltage": 3.50,
	  "firmware_revision": 17,
	  "rssi": -17,
	  "hub_rssi": -87,
	  "sensor_status": 0,
	  "debug": 0
	}
{% elsif include.v >= 40 %}
	{
	  "serial_number": "AR-00004049",
	  "type": "device_status",
	  "hub_sn": "HB-00000001",
	  "timestamp": 1510855923,
	  "uptime": 2189,
	  "voltage": 3.50,
	  "firmware_revision": 17,
	  "rssi": -17,
	  "hub_rssi": -87,
	  "sensor_status": 0,
	  "debug": 0,
	  "freq": 906000000
	}
{% elsif include.v >= 31 %}
	{
	  "serial_number": "AR-00004049",
	  "type": "device_status",
	  "hub_sn": "HB-00000001",
	  "timestamp": 1510855923,
	  "uptime": 2189,
	  "voltage": 3.50,
	  "firmware_revision": 17,
	  "rssi": -17,
	  "hub_rssi": -87,
	  "sensor_status": 0,
	  "debug": 0
	}
{% elsif include.v >= 29 %}
	{
	  "serial_number": "AR-00004049",
	  "type": "device_status",
	  "hub_sn": "HB-00000001",
	  "timestamp": 1510855923,
	  "uptime": 2189,
	  "voltage": 3.50,
	  "firmware_revision": 17,
	  "rssi": -17,
	  "sensor_status": 0
	}
{% else %}
	{
	  "serial_number":"AR-00002011",
	  "type":"station_status",
	  "timestamp":1495724690,
	  "uptime":6477,
	  "voltage":3.11,
	  "version":18,
	  "rssi":-44,
	  "sensor_status":0
	}
{% endif %}
