<h4>Observation Value Layout</h4>
<table>
  <tr><th>Index</th><th>Field</th><th>Units</th></tr>
  <tr><td>0</td><td>Time Epoch</td><td>Seconds</td></tr>
  <tr><td>1</td><td>Station Pressure</td><td>MB</td></tr>
  <tr><td>2</td><td>Air Temperature</td><td>C</td></tr>
  <tr><td>3</td><td>Relative Humidity</td><td>%</td></tr>
  <tr><td>4</td><td>Lightning Strike Count</td><td></td></tr>
  <tr><td>5</td><td>Lightning Strike Avg Distance</td><td>km</td></tr>
  <tr><td>6</td><td>Battery</td><td></td></tr>
  <tr><td>7</td><td>Report Interval</td><td>Minutes</td></tr>
</table>