<!doctype html>
<html>
<head>
	{% include meta.html %}
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.url}}/css/base.css">
	<link rel="stylesheet" href="{{site.url}}/css/udp-homepage.css">
	<link rel="stylesheet" href="{{site.url}}/css/udp.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
</head>
<body>
	{% include header.html %}

	{% include udp-version-selector.html %}

	<div id="main-content">
		{{content}}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{site.url}}/js/releases.js"></script>
</body>
</html>
